body{
    overflow-x: hidden;
}

/***********************************************************************************************/
/* back-to-top Button */
/***********************************************************************************************/
.back-to-top {
	position: fixed;
	bottom: 3em;
	right: 3em;
	text-decoration: none;
	color: #EEEEEE;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 1em;
	padding: 1em;
	display: none;
	border-radius: 3px;
	border: 1px solid #CCCCCC;
}

.back-to-top:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

/***********************************************************************************************/
/* fixie css for placeholder */
/***********************************************************************************************/
.fixie{ border: 0px solid #EEE; padding:10px; border-radius: 3px; }